
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Home";
}
<input type="hidden" id="userID" value='@Session["userid"]'>
<div id="panel" class="operation-panel">
    <div class="override-container">
        <ul class="list-inline">
            <li><button data-toggle="tooltip" title="New folder" id="btnCreateFolder" class="btn btn-primary">Create Folder</button></li>
            <li><button data-toggle="tooltip" title="Rename selected folder" id="btnRenameFolder" class="btn btn-primary" style="display:none">Rename Folder</button></li>
            <li><button data-toggle="tooltip" title="Delete selected folder" id="btnDeleteFolder" class="btn btn-primary" style="display:none">Delete Folder</button></li>
            <li><button data-toggle="tooltip" title="Current directory metadata" id="btnDownloadMetadataFile" class="btn btn-primary" style="display:none">Download Metadata As PDF</button></li>
            <li><button data-toggle="tooltip" title="Select new file" id="btnUploadFile" class="btn btn-primary" style="display:none">Upload File</button></li>
        </ul>
    </div>
    <!-- Create/Rename Dialog Box-->
    <div class="dialog" id="createFolderForm">
        <form>
            <label id="popup-title" style="color:black">New Folder</label>
            <span style="float:right">
                <button data-toggle="tooltip" title="Close" id="btnCloseCreateDialog" class="override-btn override-btn-xs">x</button>
            </span>
            <br>
            <br>
            <div class="form-group">
                <input type="text" id="foldername" class="form-control">
            </div>
            <br>
            <div align="center" class="form-group">
                <button class="btn btn-primary btn-lg" id="btnCreateOK">Create Folder</button>
            </div>
        </form>
    </div>
    <!-- File Upload Dialog Box -->
    <div class="upload-dialog" id="fileUploadForm">
        <form>
            <label id="titleUploadPopup" style="color:black">Upload File</label>
            <span style="float:right">
                <button data-toggle="tooltip" title="Close" id="btnCloseUploadDialog" class="override-btn override-btn-xs">x</button>
            </span>
            <br>
            <br>
            <div class="form-group">
                <input type="file" id="uploadFileName" class="form-control">
            </div>
            <br>
            <div align="center">
                <button class="btn btn-primary btn-lg" id="btnUploadOK"> Upload File</button>
            </div>
        </form>
    </div>
</div>
<div class="jeg_breadcrumbs">
    <div class="override-container jeg_breadcrumb_category jeg_breadcrumb_container">
        <div id="breadcrumbs">
               <a href="user" style="margin-left: 0.6em" data-toggle="tooltip" title="Back to home">Home</a>
        </div>
        <hr>
    </div>
</div>
<div id="containerchild" class="cols box">

</div>
<div id="container" class="cols box">

</div>
<div id="containersearch" class="cols box">

</div>


