
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Home";
}

<!--
        <button class="btn btn-success" id="btncrtfolder">Create Folder</button>
    <p id="test"></p>
    -->
<div id="panel">
    <div class="container">
        <ul class="list-inline">
            <li><button id="btnCreateFolder" class="btn btn-primary">Create Folder</button></li>
            <li><button id="btnRenameFolder" class="btn btn-primary">Rename Folder</button></li>
            <li><button id="btnDeleteFolder" class="btn btn-primary">Delete Folder</button></li>
            <li><button id="btnDownloadMetaFile" class="btn btn-primary">Download Metadata As PDF</button></li>
            <li><button id="btnUploadFile" class="btn btn-primary">Upload File</button></li>
        </ul>
    </div>
    <br>
    <!-- Create/Rename Dialog Box-->
    <div class="dialog" id="myform">
        <form>
            <label id="popup-title" style="color:black">New Folder</label>
            &nbsp;&nbsp;&nbsp;
            <div class="form-group">
                <input type="text" id="foldername" class="form-control">
            </div>&nbsp; &nbsp;
            <div align="center" class="form-group">
                <input type="button" class="btn btn-success " value="Create Folder" id="btnCreateOK">
            </div>
        </form>
    </div>
    <!-- File Upload Dialog Box -->
    <div class="upload-dialog" id="fileUploadForm">
        <form>
            <label id="titleUploadPopup" style="color:black">Upload File</label>
            &nbsp;&nbsp;&nbsp;
            <div class="form-group">
                <input type="file" id="uploadFileName" class="form-control">
            </div>&nbsp; &nbsp;
            <div align="center" class="form-group">
                <input type="button" class="btn btn-primary " value="Upload File" id="btnUploadOK">
            </div>
        </form>
    </div>
</div>
<div id="container" class="cols box">
    
</div>
