.dialog {
    margin: 90px 0px 0px 510px;
    border: 1px solid #666;
    padding: 20px;
    background: rgba(216, 207, 207, 0.9);
    position: absolute;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    height: 200px;
    width: 300px;
    display: none;
}
.upload-dialog {
    margin: 90px 0px 0px 510px;
    border: 1px solid #666;
    padding: 20px;
    background: rgba(216, 207, 207, 0.9);
    position: absolute;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    height: 240px;
    width: 350px;
    display: none;
}

 .dialog label {
        display: inline-block;
        color: #cecece;
    }

#container {
    width: 100%;
    max-width: 900px;
    max-height: 1202px;
    margin: 1.9em auto;
    overflow-y: auto;
}

#containerchild {
    width: 100%;
    max-width: 900px;
    max-height: 500px;
    margin: 2em auto;
    overflow-y: auto;
}
#containersearch {
    width: 100%;
    max-width: 900px;
    max-height: 500px;
    margin: 2em auto;
    overflow-y: auto;
}

.cols {
    column-count: 4;
    column-gap: 9%;
}
.box {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10;
}
.override-pull-right {

    float:right !important;
}
.override-container {
    height:55px;
    max-width:1347px !important;
}